<div class="trm-contacts-editor">
  <form [formGroup]="contactForm" (ngSubmit)="save(contact)">
  <mat-card>
    <mat-card-title-group class="fullBleed editing">
      <img mat-card-md-image [src]="contact?.image || ''">
      <mat-card-title>{{contact?.name}}</mat-card-title>
      <mat-card-subtitle>{{contact?.email || 'No email address'}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div fxLayout="column">
        <mat-input-container fxFlex>
          <input matInput placeholder="Name" formControlName="name">
          <mat-hint align="end" *ngIf="!contactForm.get('name').valid && !contactForm.get('name').pristine">
            <ng-container *ngIf="contactForm.get('name').errors?.required">This field is required</ng-container>
            <ng-container *ngIf="contactForm.get('name').errors?.minlength">
              Too short, required length of {{contactForm.get('name').errors.minlength.requiredLength}}, current length {{contactForm.get('name').errors.minlength.actualLength}}
            </ng-container>
          </mat-hint>
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Email" formControlName="email">
          <mat-hint align="end" *ngIf="!contactForm.get('email').valid && !contactForm.get('email').pristine">
            <ng-container *ngIf="contactForm.get('email').errors?.validateEmail">Not a valid email address!</ng-container>
            <ng-container *ngIf="contactForm.get('email').errors?.emailTaken">This email address is already taken!</ng-container>
          </mat-hint>
        </mat-input-container>
        <div formArrayName="phone">
          <div *ngFor="let phone of contactForm.get('phone').controls; let i = index; let l = last;">
            <mat-input-container>
              <input matInput placeholder="Phone" [formControlName]="i">
            </mat-input-container>
            <button
              mat-icon-button
              type="button"
              *ngIf="i >= 1"
              (click)="removePhoneField(i)"><mat-icon>highlight_off</mat-icon></button>

            <button
              mat-icon-button
              type="button"
              *ngIf="l && phone.value != ''"
              (click)="addPhoneField()"><mat-icon>add_circle_outline</mat-icon></button>
          </div>
        </div>
        <mat-input-container fxFlex>
          <input matInput placeholder="Website" formControlName="website">
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Birthday" formControlName="birthday" type="date">
        </mat-input-container>
        <trm-address-input></trm-address-input>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button mat-button type="submit"
              [disabled]="!contactForm.valid" title="Save contact">Save</button>
      <button mat-button type="button" (click)="cancel(contact)" title="Cancel editing">Cancel</button>
    </mat-card-actions>
  </mat-card>
  </form>
</div>
