<div class="trm-contacts-editor">
  <form #contactForm="ngForm" (ngSubmit)="save(contactForm.value)">
  <mat-card>
    <mat-card-title-group class="fullBleed editing">
      <img mat-card-md-image [src]="contact?.image || ''">
      <mat-card-title>{{contact?.name}}</mat-card-title>
      <mat-card-subtitle>{{contact?.email || 'No email address'}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div fxLayout="column">
        <mat-input-container fxFlex>
          <input matInput placeholder="Name" name="name" [(ngModel)]="contact.name" #name="ngModel" required minlength="3">
          <mat-hint align="end" *ngIf="!name.valid && !name.pristine">
            <!-- Error messages go here -->
            <ng-container *ngIf="name.errors.required">This field is required</ng-container>
            <ng-container *ngIf="name.errors.minlength">Too short, required length of {{name.errors.minlength.requiredLength}}, current length {{name.errors.minlength.actualLength}}</ng-container>
          </mat-hint>
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Email" name="email" [(ngModel)]="contact.email" trmValidateEmail #email="ngModel">
          <mat-hint align="end" *ngIf="!email.valid && !email.pristine">
            <ng-container>Not a valid email address!</ng-container>
          </mat-hint>
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Phone" name="phone" [(ngModel)]="contact.phone">
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Website" name="website" [(ngModel)]="contact.website">
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Birthday" name="birthday" [(ngModel)]="contact.birthday" type="date">
        </mat-input-container>
        <fieldset fxLayout="column">
          <legend>Address</legend>
          <mat-input-container fxFlex>
            <input matInput placeholder="Street" name="street" [(ngModel)]="contact.address.street">
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="Zip" name="zip" [(ngModel)]="contact.address.zip">
          </mat-input-container>
          <mat-input-container fxFlex>
            <input matInput placeholder="City" name="city" [(ngModel)]="contact.address.city">
          </mat-input-container>
        </fieldset>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button mat-button type="button" (click)="save(contact)" [disabled]="!contactForm.valid" title="Save contact">Save</button>
      <button mat-button type="button" (click)="cancel(contact)" title="Cancel editing">Cancel</button>
    </mat-card-actions>
  </mat-card>
  </form>
</div>
